$font-helvetica45: "HelveticaNeueW01-45Ligh", "HelveticaNeueW02-45Ligh", "HelveticaNeueW10-45Ligh", sans-serif;
$font-helvetica55: "HelveticaNeueW01-55Roma", "HelveticaNeueW02-55Roma", "HelveticaNeueW10-55Roma", sans-serif;
$font-helvetica65: "HelveticaNeueW01-65Medi", "HelveticaNeueW02-65Medi", "HelveticaNeueW10-65Medi", sans-serif;
$font-helvetica75: "HelveticaNeueW01-75Bold", "HelveticaNeueW02-75Bold", "HelveticaNeueW10-75Bold", sans-serif;
$border-radius: 6px;

@mixin artifact-info-design(){
  height: inherit;
  background-color: #EEE;
  border: 1px solid #C4BCBC;
  border-radius: $border-radius;
  padding-left: 15px;
  margin-right: 50px;
}

.container {
  margin: auto;
  //  width: 300px;
}

.pp-hero-unit h1 {
  font-family: $font-helvetica75;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.pp-top-header-container {
  position: relative;
  background-color: #000000;
  border-radius: $border-radius;
  height: 70px;
}

.pp-top-header-text {
  color: #eee;
  padding: 25px;
}

.pp-top-header-image-container{
  float: left;
}

.pp-top-header-image-container img{
  //  background: url(http://bo.wix.com/wix-postplay-webapp/img/wix-icon.png) no-repeat;
  max-height: 70px;
  object-fit: cover;
}

.pp-artifacts-title {
  font-size: 25px;
}

.pp-artifact-input {
  //  color: rgb(74, 190, 201);
  font-size: 13px;
  color: #000000;
  width: 250px;
}

input:focus{
  outline: 0;
  border: 1.5px solid #C4BCBC;
}

input:-webkit-autofill {
  background-color: #2a2a2a !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset, 0 0 8px;
  focus{
    -webkit-box-shadow: 0 0 0px 1000px white inset, 0 0 8px;
  }
}

.pp-chosen-artifact-info-wrapper {
  padding: 30px;
  height: 250px;
  display: flex;
  flex-direction: row;
  .pp-artifact-table-header, .pp-artifact-table-rows {
    display: inline-flex;
  }
  .pp-artifact-info {
    width: 20%;
    @include artifact-info-design;
  }
  .pp-artifact-table {
    width: 50%;
    overflow: auto;
    @include artifact-info-design;
  }
  .pp-artifact-table-header-row, .pp-artifact-table-row {
    margin-top: 10px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    height: 30%;
    div {
      margin-left: 5px;
      margin-right: 10px;
      width: 160px;
      //TODO this shouldn't be a fixed width!
    }
  }

  .pp-artifact-table-row {
    background-color: #ffffff;
    cursor: pointer;
  }
}

.pp-artifact-info-text {
  padding-left: 20px;
}
.pp-artifact-info-title {
  font-weight: bold;
}

.pp-hero-unit {
  //  width: 90%;
  //  position: fixed;
  font-family: $font-helvetica55;
  font-size: 18px;
  font-weight: 200;
  background-color: #EED23E;
  border-radius: $border-radius;
  padding: 20px 40px 20px;
}

.repeated-item {
  list-style-type: none;
}
