$header-height: 90px;
$header-image-size: 70px;
$box-height: 70px;
$box-border: 1px solid transparent;
$box-border-radius: 4px;
$font-family: 'Open Sans', sans-serif;
$header-font-size: 13px;

$background-blue: rgb(57, 96, 255);
$error-color: rgba(255, 0, 0, 0.7);
$background-light-blue: #699fff;

body {
  margin: 0;
  font-family: $font-family;
}

.pp-server-status-header-container {
  background-color: $background-blue;
  padding: 20px 20px 20px;
  position: relative;
  height: $header-height;
  overflow: scroll;
}

.pp-server-status-header-image-container {
  float: left;
}
.pp-server-status-basic-data-container {
  float: right;
  height: $box-height;
  border: $box-border;
  border-radius: $box-border-radius;
  font-size: $header-font-size;
  padding: 10px;
  background-color: $background-light-blue;
}

.pp-server-basic-status-titles{
  float: left;
  margin-right: 50px;
  font-weight: bold;
}

.pp-status-bars {
  float: left;
}
.pp-server-basic-percent, .pp-server-basic-analysis-status {
  font-weight: bold;
  background-color: $error-color;
  width: 120px;
  margin: 0px 50px 35px 50px;
  text-align: center;
}

.pp-server-basic-status {
  float: right;
}

.pp-server-status-header-image-container img {
  max-height: $header-image-size;
  object-fit: cover;
}

.grid-style {
  border: 1px solid rgb(212,212,212);
  width: 350px;
  height: 150px;
  border-radius: $box-border-radius;
}

.pp-server-status-tabs-container {
  padding: 20px;
  float: left;
  ul {
    display: inline-block;
  }
}

.pp-basic-tests-container {
  float: right;
  padding: 85px;
  box-sizing: border-box;
  width: 540px;
}

.pp-server-status-page-container {
  height: 300px;
}

.pp-server-status-tables-container {
  //background-color: red;
  display: table-caption;
}

.pp-test-runs-tabs {
  float: left;
  background-color: rgb(200,200,200);
  padding: 5px 20px;
  margin: 5px 2px 5px 0px;
  list-style: none;
  &.active {
    background-color: $background-light-blue;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-style: italic;
    text-shadow: 1px 0px 3px rgb(157, 157, 157);
  }
}
#runs-tab-title {
  border-radius: 4px 0px 0px 4px;
}
#tests-tab-title {
border-radius: 0px 4px 4px 0px;
}
