<!doctype html>
<!-- #if( false )
  Prerequisites from server model:
  --------------------------------
  ${locale}, ${debug}, ${secured}, ${experiments},
  ${newRelicEndUserHeader}, ${newRelicEndUserFooter}
  ${clientTopology.postplayTrySslStaticsUrl},
  ${clientTopology.postplayTryStaticsUrl},
  ${clientTopology.staticBaseUrl},
  ${clientTopology.sslStaticBaseUrl}

  More details at: http://kb.wixpress.com/display/dashboard/How+to+integrate+server+with+index.vm
#end -->
<!--
  #if( false )
  DO NOT TOUCH!!
  --------------
  #end
  #set( $languages = ["de","en","es","fr","it","ja","ko","pl","pt","ru","tr"] )
  #if( !$languages.contains($locale) )
    #set( $locale = "en" )
  #end
  #if( $secured )
    #set( $staticsUrl = $clientTopology.postplayTrySslStaticsUrl )
    #set( $staticBaseUrl = $clientTopology.sslStaticBaseUrl )
  #else
    #set( $staticsUrl = $clientTopology.postplayTryStaticsUrl )
    #set( $staticBaseUrl = $clientTopology.staticBaseUrl )
  #end
-->
<html ng-app="postplayTryApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>postplayTry</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="${staticBaseUrl}services/third-party/fonts/Helvetica/fontFace.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- process-tags prefix('${staticsUrl}') -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/server-status.css">
    <link rel="stylesheet" href="styles/general-status.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="bower_components/ng-grid/ng-grid.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- endbuild -->
    <!-- end-process-tags -->

    <!-- #if( false ) -->
    <script>
      /* jshint ignore:start */
      ENABLE_MOCKS = ${enableMocks};
    </script>
    <!-- #end -->
    
    ${newRelicEndUserHeader}
    
  </head>
  <body>
    
    <!-- Add your site or application content here -->
    <div ng-view></div>
    

    <!-- process-tags prefix('${staticsUrl}') -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/ng-grid/ng-grid-2.0.13.debug.js"></script>
    <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_${locale}.js"></script>
    <script src="scripts/locale/messages_${locale}.js"></script>
    <!-- build:js scripts/modules.js -->
    <script src="bower_components/uri.js/src/URI.js"></script>
    <script src="bower_components/wix-angular/dist/wix-angular.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/basic-test-info.js"></script>
    <script src="scripts/services/all-artifacts-api.js"></script>
    <script src="scripts/services/specific-server-status-server-api.js"></script>
    <script src="scripts/controllers/specific-server-status.js"></script>
    <script src="scripts/services/post-play-utils.js"></script>
    <script src="scripts/services/all-artifacts-freshener.js"></script>
    <script src="scripts/services/payload-extractor.js"></script>
    <!-- endbuild --><!-- scripts -->
    <!-- end-process-tags -->

    <!-- #if( false ) -->
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <!-- build:js(test) scripts/mocks.js -->
    <script src="mock/server-api.js"></script>
    <!-- endbuild -->
    <script>
      if (ENABLE_MOCKS) {
        angular.module('postplayTryApp').requires.push('postplayTryAppMocks');
      }
    </script>
    <!-- #end -->
    <script>
      angular.module('postplayTryApp').config(function (wixAngularProvider) {
        wixAngularProvider.setStaticsUrl('${staticsUrl}');
        wixAngularProvider.setExperiments(${experiments});
      });
    </script>
    
    ${newRelicEndUserFooter}
    
  </body>
</html>
