%div(ng-controller = "BasicTestInfoController as basicTestInfoCtrl")
    .pp-post-play-header-unit
        .pp-top-header-container
            .pp-top-header-image-container
                %img(src = 'http://bo.wix.com/wix-postplay-webapp/img/wix-icon.png')
            .pp-top-header-text(ng-bind = "basicTestInfoCtrl.currentArtifactId")
        %p.pp-artifacts-title {{'CHOOSE_FROM_ARTIFACTS_TITLE' | translate}}
        %form(name = "choose-artifact-form"
              ng-submit = "basicTestInfoCtrl.updateChosenArtifactData()")
            %input.pp-artifact-input(type = "text"
                                 name = "sheet-input"
                                 list = "artifactList"
                                 ng-model = "basicTestInfoCtrl.currentArtifactId"
                                 placeholder = "{{'CHOOSE_ARTIFACT' | translate}}"
                                 autofocus)
    .pp-chosen-artifact-info-wrapper(ng-show = "!basicTestInfoCtrl.basicTestInfoServerApi.thereWasServerError && basicTestInfoCtrl.currentArtifactDataIsUpdated")
        .pp-artifact-info
            %p.pp-artifact-info-title {{'ARTIFACT_ID' | translate}}
            %p.pp-artifact-info-text#artifact-id(ng-bind = "basicTestInfoCtrl.currentArtifactId")
            %p.pp-artifact-info-title {{'GROUP_ID' | translate}}
            %p.pp-artifact-info-text#group-id(ng-bind = "basicTestInfoCtrl.currentArtifactGroupId")
            %p.pp-artifact-info-title {{'VERSION' | translate}}
            %p.pp-artifact-info-text#artifact-version(ng-bind = "basicTestInfoCtrl.currentArtifactVersions[0]")
        .pp-artifact-table-wrapper
            .pp-artifact-table-header
                .pp-artifact-table-header-row(ng-repeat = "serverTableHeadline in basicTestInfoCtrl.serverTableTitles")
                    %div {{serverTableHeadline}}
            .pp-artifact-table-rows(ng-repeat = "serverInfo in basicTestInfoCtrl.currentArtifactVersionSummary.responseBody"
                                    class = "repeat-animation"
                                    ng-click = "basicTestInfoCtrl.onClick(serverInfo.server)")
                .pp-artifact-table-row
                    %div {{serverInfo.server}}
                    %div {{serverInfo.runStatus}}
                    %div(ng-if = 'basicTestInfoCtrl.serverRunEndedWithError(serverInfo)')
                        %img#artifact-table-error-image(src = 'http://bo.wix.com/wix-postplay-webapp/img/error-icon.png')
                    -#%div(ng-if = 'basicTestInfoCtrl.serverRunEndedWithWarning(serverInfo)')
                    -#    %img#artifact-table-error-image(src = 'http://bo.wix.com/wix-postplay-webapp/img/warning-icon.png')
                    %div(ng-if = 'basicTestInfoCtrl.serverRunEndedSuccessfully(serverInfo)')
                        %img#artifact-table-error-image(src = 'http://bo.wix.com/wix-postplay-webapp/img/ok-icon.png')
                    %div {{serverInfo.event}}
    %div(ng-controller = "CurrentlyRunningArtifactsController as currentlyRunningCtrl")
        .pp-chosen-artifact-info-wrapper
            .pp-artifact-info(ng-show = "!currentlyRunningCtrl.basicTestInfoServerApi.serverErrors.errorGettingRunningArtifacts")
                %p.pp-artifact-info-title {{'CURRENTLY_RUNNING' | translate}}
                %div(ng-repeat = "runningArtifact in currentlyRunningCtrl.currentlyRunningArtifacts"
                     class = "repeat-animation")
                    %p.pp-currently-running(id = "pp-currently-running-{{$index}}")
                        {{runningArtifact.artifactId}}
            -#.pp-artifact-info(ng-show = "currentlyRunningCtrl.basicTestInfoServerApi.serverErrors.errorGettingRunningArtifacts")
            -#    %p.pp-currently-running-error
            -#        {{'CURRENTLY_RUNNING_SERVER_ERROR' | translate}}

%datalist(ng-controller = "BasicTestInfoController as basicTestInfoCtrl"
          id = "artifactList")
    %option(ng-repeat = "artifactData in basicTestInfoCtrl.artifacts"
            value = "{{ artifactData.artifactId }}")
