%div(class = "ngCellText"
     ng-class = "{green: basicTestInfoCtrl.getArtifactStatus(row.entity) || basicTestInfoCtrl.getArtifactStatus(row.entity.artifactData) === 'PASSED', red: basicTestInfoCtrl.getArtifactStatus(row.entity) || basicTestInfoCtrl.getArtifactStatus(row.entity.artifactData) === 'FAILED', orange: basicTestInfoCtrl.getArtifactStatus(row.entity) || basicTestInfoCtrl.getArtifactStatus(row.entity.artifactData) === 'WARNING'}")
-#basicTestInfoCtrl.getArtifactStatus(row.entity);