%img(ng-src='images/ok-icon.png'
     ng-show="row.getProperty('testStatusEnum')==='STATUS_COMPLETED_SUCCESSFULLY'")
%img(ng-src='images/error-icon.png'
     ng-show="row.getProperty('testStatusEnum')!=='STATUS_COMPLETED_SUCCESSFULLY'")
