%div(class = "ngCellText"
     ng-class = "{green: row.getProperty('hasFailedServer') === false || row.getProperty('testStatusEnum') === 'STATUS_COMPLETED_SUCCESFULLY', red: row.getProperty('hasFailedServer') === true || row.getProperty('testStatusEnum') === 'STATUS_COMPLETED_WITH_ERRORS'}")
