%div(class = "ngCellText"
     ng-class = "{green: row.getProperty('hasFailedServer') === false || row.getProperty('analysisResultStatus') === 'TEST_PASSED', red: row.getProperty('hasFailedServer') === true || row.getProperty('analysisResultStatus') === 'TEST_FAILED'}")
