%div(class = "ngCellText"
     ng-class = "{green: row.getProperty('status') === 'PASSED' || row.getProperty('testStatusEnum') === 'STATUS_COMPLETED_SUCCESSFULLY', red: row.getProperty('status') === 'FAILED' || row.getProperty('testStatusEnum') === 'STATUS_COMPLETED_WITH_ERRORS'}")
