%div(ng-show="basicTestInfoCtrl.isDataLoaded")
    .pp-header-container
        .pp-header-image-container
            %img(src = 'http://lifecycle.dev.wix/app/images/lifecycle_icon2.png')
    .pp-page-container
        #pp-gs-table-container
            .pp-grid-container(ng-grid="basicTestInfoCtrl.serversTestResultsSummary")