%div
    .pp-header-container
        .pp-header-image-container
            %img(src = 'http://lifecycle.dev.wix/app/images/lifecycle_icon2.png')
        %form(name = "choose-artifact-form"
              ng-submit = "basicTestInfoCtrl.updateChosenArtifactData()")
            %input.pp-artifact-input(type = "text"
                                     name = "sheet-input"
                                     list = "artifactList"
                                     ng-model = "basicTestInfoCtrl.currentArtifactId"
                                     placeholder = "{{'CHOOSE_ARTIFACT' | translate}}"
                                     autofocus)
    .pp-gs-page-container
        .pp-gs-artifacts-tables-container#pp-gs-artifact-info-tables-container
            .pp-gs-table-container
                .pp-table-title#failed-table-title(title="What am I doing wrong with the tooltip?") {{'ARTIFACTS_TABLE' | translate}}
                -#<a tooltip="What am I doing wrong with the tooltip?" tooltip-placement="right" ng-cell-text>
                .pp-grid-container(ng-grid="basicTestInfoCtrl.failedAndChosenArtifactsSummaryTableData")
        .pp-gs-artifacts-tables-container#pp-gs-servers-info-table-container
            .pp-gs-table-container(ng-if="basicTestInfoCtrl.artifactIsClickedOn")
                .pp-table-title Servers of {{basicTestInfoCtrl.clickedOnArtifact.artifactId}}
                .pp-grid-container(ng-grid="basicTestInfoCtrl.serversToShow")


%datalist(ng-controller = "BasicTestInfoController as basicTestInfoCtrl"
          id = "artifactList")
    %option(ng-repeat = "artifactData in basicTestInfoCtrl.artifacts"
            value = "{{ artifactData.artifactId }}")