%div
    .pp-header-container
        .pp-header-image-container
            -#%img(src = 'http://lifecycle.dev.wix/app/images/lifecycle_icon2.png')
        %form#choose-artifact-form(name = "choose-artifact-form"
                                   ng-submit="clearInput()")
            %input.pp-artifact-input(type = "search"
                                     name = "sheet-input"
                                     list = "artifactList"
                                     ng-model = "currentArtifactToAdd"
                                     ng-change="addArtifactById()"
                                     placeholder = "{{'CHOOSE_ARTIFACT' | translate}}"
                                     autocomplete="on"
                                     autofocus)
        %datalist#artifactList
            %option(ng-repeat = "artifact in passingArtifacts"
                    value = "{{ artifact.artifactId }}")
    .pp-gs-page-container
        .pp-gs-artifacts-tables-container#pp-gs-artifact-info-tables-container
            .pp-gs-table-container
                .pp-table-title#failed-table-title {{'ARTIFACTS_TABLE' | translate}}
                .pp-grid-container#failed-and-chosen-grid(ng-grid="getAllArtifacts")
        -#.pp-gs-artifacts-tables-container#pp-gs-servers-info-table-container
        -#    .pp-gs-table-container(ng-if="basicTestInfoCtrl.artifactIsClickedOn")
        -#        .pp-table-title Servers of {{basicTestInfoCtrl.clickedOnArtifact.artifactId}}
        -#        .pp-grid-container(ng-grid="basicTestInfoCtrl.serversToShow")
