%div(ng-controller = "MainController as mainCtrl")
    .pp-hero-unit
        .pp-top-header-container
            .pp-top-header-image-container
                %img(src='http://bo.wix.com/wix-postplay-webapp/img/wix-icon.png')
            .pp-top-header-text(ng-bind = "mainCtrl.currentArtifactId")
        %p.pp-artifacts-title {{'CHOOSE_FROM_ARTIFACTS_TITLE' | translate}}
        %input.pp-artifact-input(type = "text"
                                 name = "sheet-input"
                                 list = "artifactList"
                                 ng-model = "mainCtrl.currentArtifactId"
                                 placeholder = "{{'CHOOSE_ARTIFACT' | translate}}"
                                 autofocus)
        %button(ng-click = "mainCtrl.updateCurrentArtifactData()") {{'GO' | translate}}
    .pp-chosen-artifact-info-wrapper(ng-show = "mainCtrl.currentArtifactDataIsUpdated")
        .pp-artifact-info
            %p.pp-artifact-info-title {{'ARTIFACT_ID' | translate}}
            %p.pp-artifact-info-text(ng-bind = "mainCtrl.currentArtifactId")
            %p.pp-artifact-info-title {{'GROUP_ID' | translate}}
            %p.pp-artifact-info-text(ng-bind = "mainCtrl.currentArtifactGroupId")
            %p.pp-artifact-info-title {{'VERSION' | translate}}
            %p.pp-artifact-info-text(ng-bind = "mainCtrl.currentArtifactVersions[0]")
        .pp-artifact-table
            .pp-artifact-table-header
                .pp-artifact-table-header-row(ng-repeat = "serverTableHeadline in mainCtrl.serverTableHeadlines")
                    %div {{serverTableHeadline}}
            .pp-artifact-table-rows
                .pp-artifact-table-row(ng-repeat="serverInfo in mainCtrl.currentArtifactVersionSummary.responseBody")
                    %div {{serverInfo.server}}
                    %div {{serverInfo.runStatus}}
                    %div button-pic
                    %div {{serverInfo.event}}

%datalist(ng-controller = "MainController as mainCtrl"
          id = "artifactList")
    %option(ng-repeat = "artifactData in mainCtrl.artifacts"
            value="{{ artifactData.artifactId }}")
