%div(ng-show = "serverStatusCtrl.specificServerStatusServerApi.isDataLoaded" ng-controller = "SpecificServerStatusController as serverStatusCtrl")
    .pp-server-status-header-container
        .pp-server-status-header-image-container
            %img(src = 'http://lifecycle.dev.wix/app/images/lifecycle_icon2.png')
        .pp-server-status-basic-data-container
            .pp-status-bars
                .pp-server-basic-percent
                    {{serverStatusCtrl.specificServerStatusServerApi.getCompletedTestsPercent() + '%'}}
                .pp-server-basic-analysis-status
                    {{serverStatusCtrl.specificServerStatusServerApi.getCompletedTestsStatus()}}
            .pp-server-basic-status-titles
                %div {{'ARTIFACT_ID' | translate}}
                %div {{'ARTIFACT_NAME' | translate}}
                %div {{'ARTIFACT_VERSION' | translate}}
                %div {{'SERVER' | translate}}
            .pp-server-basic-status
                #artifact-id {{serverStatusCtrl.specificServerStatusServerApi.getArtifactId()}}
                #artifact-name {{serverStatusCtrl.specificServerStatusServerApi.getArtifactName()}}
                #artifact-version {{serverStatusCtrl.specificServerStatusServerApi.getVersion()}}
                #server {{serverStatusCtrl.specificServerStatusServerApi.getServerName()}}
    .pp-server-status-page-container
        #pp-server-status-tabs-container
            %ul(ng-init="tab=1")
                %li.pp-test-runs-tabs#runs-tab-title(ng-class="{active:tab===1}")
                    %a(ng-click="tab = 1"
                       href)
                        {{'RUNS_TAB_NAME' | translate}}
                %li.pp-test-runs-tabs#tests-tab-title(ng-class="{active:tab===2}")
                    %a(ng-click="tab = 2"
                       href)
                        {{'TESTS_TAB_NAME' | translate}}
                .pp-server-status-tables-container(ng-show="tab === 1")
                    .grid-style(ng-grid="serverStatusCtrl.specificServerStatusServerApi.runsTableData")
                %p
                    .pp-server-status-tables-container(ng-show="tab === 2")
                        .grid-style(ng-grid="serverStatusCtrl.specificServerStatusServerApi.testNamesTableData")
        #pp-runs-tables-container(ng-show="tab === 1 && serverStatusCtrl.specificServerStatusServerApi.runHasBeenSelected"
                                  class="pp-animation")
            .grid-style(ng-grid="serverStatusCtrl.specificServerStatusServerApi.testsBasicTableData")
