%div(ng-show = "serverStatusCtrl.specificServerStatusServerApi.isDataLoaded")
    .pp-header-container
        %form(action="http://google.com")
            %a.pp-ss-home-btn(href = "#/") {{'HOME' | translate}}
        -#.pp-header-image-container
        -#    %img(src = 'http://lifecycle.dev.wix/app/images/lifecycle_icon2.png')
        .pp-server-basic-header-status-container
            .pp-ss-status-bars
                .pp-ss-header-percent
                    .pp-ss-header-percent-error(style="width: {{serverStatusCtrl.specificServerStatusServerApi.completedTestsPercent}}%") {{serverStatusCtrl.specificServerStatusServerApi.completedTestsPercent + '%'}}
                .pp-ss-header-status-message
                    {{serverStatusCtrl.specificServerStatusServerApi.analysisStatus}}
            .pp-ss-header-server-status-titles
                %div {{'ARTIFACT_ID' | translate}}
                %div {{'ARTIFACT_NAME' | translate}}
                %div {{'ARTIFACT_VERSION' | translate}}
                %div {{'SERVER' | translate}}
            .pp-ss-header-server-status
                #artifact-id {{serverStatusCtrl.specificServerStatusServerApi.artifactId}}
                #artifact-name {{serverStatusCtrl.specificServerStatusServerApi.artifactName}}
                #artifact-version {{serverStatusCtrl.specificServerStatusServerApi.version}}
                #server {{serverStatusCtrl.specificServerStatusServerApi.serverName}}
    .pp-gs-page-container
        #pp-ss-tabs-container
            %ul(ng-init="tab=1")
                %li.pp-ss-test-runs-tabs#pp-ss-runs-tab-title(ng-class="{active:tab===1}")
                    %a(ng-click="tab = 1"
                       href)
                        {{'RUNS_TAB_NAME' | translate}}
                %li.pp-ss-test-runs-tabs#pp-ss-tests-tab-title(ng-class="{active:tab===2}")
                    %a(ng-click="tab = 2"
                       href)
                        {{'TESTS_TAB_NAME' | translate}}
                .pp-ss-tables-under-tabs-container#runs-table-under-tabs(ng-if="tab === 1")
                    .pp-grid-container(ng-grid="serverStatusCtrl.specificServerStatusServerApi.runsTableData")
                .pp-ss-tables-under-tabs-container#tests-table-under-tabs(ng-if="tab === 2")
                    .pp-grid-container(ng-grid="serverStatusCtrl.specificServerStatusServerApi.testNamesTableData")
        #pp-ss-runs-tables-container(ng-if="tab === 1")
            .pp-table-title.pp-ss-animation-first-table-on-right(ng-if="serverStatusCtrl.specificServerStatusServerApi.runIsSelected") {{'TESTS_OF_RUN_TITLE' | translate}}
            .pp-grid-container.pp-ss-animation-first-table-on-right(ng-grid="serverStatusCtrl.specificServerStatusServerApi.testsOfSelectedRunBasicTableData"
                                                                    ng-if="serverStatusCtrl.specificServerStatusServerApi.runIsSelected")
            .pp-table-title.pp-ss-animation-second-table-on-right(ng-if="serverStatusCtrl.specificServerStatusServerApi.testOfRunIsSelected") {{'SERVERS_OF_TESTS_OF_RUNS_TITLE' | translate}} "{{serverStatusCtrl.specificServerStatusServerApi.chosenTestOfRun}}"
            .pp-grid-container.pp-ss-animation-second-table-on-right(ng-grid="serverStatusCtrl.specificServerStatusServerApi.serversOfSelectedTestOfSelectedRunTableData"
                                                                     ng-if = "serverStatusCtrl.specificServerStatusServerApi.testOfRunIsSelected")
        #pp-ss-tests-tables-container(ng-if="tab === 2")
            .pp-table-title.pp-ss-animation-first-table-on-right(ng-if="serverStatusCtrl.specificServerStatusServerApi.testIsSelected") {{'RUNS_OF_TEST_TITLE' | translate}} "{{serverStatusCtrl.specificServerStatusServerApi.chosenTestName}}"
            .pp-grid-container.pp-ss-animation-first-table-on-right(ng-grid="serverStatusCtrl.specificServerStatusServerApi.runsOfChosenTestTableData"
                                                                    ng-if="serverStatusCtrl.specificServerStatusServerApi.testIsSelected")
            .pp-table-title.pp-ss-animation-second-table-on-right(ng-if="serverStatusCtrl.specificServerStatusServerApi.attributeIsSelected") {{'ATTRIBUTE_CHART_TITLE' | translate}} {{serverStatusCtrl.specificServerStatusServerApi.chosenAttributeName}}
            .pp-grid-container.pp-ss-animation-second-table-on-right(chart="serverStatusCtrl.specificServerStatusServerApi.chartObject"
                                                                     ng-if = "serverStatusCtrl.specificServerStatusServerApi.attributeIsSelected"
                                                                     google-chart)
