.pp-test-of-run-image-template
    %img(ng-show="row.getProperty('analysisResultStatus')==='TEST_PASSED'" ng-src='images/ok-icon.png')
    %img(ng-show="row.getProperty('analysisResultStatus')==='TEST_FAILED'" ng-src='images/error-icon.png')
    %img(ng-show="row.getProperty('analysisResultStatus')==='STATUS_COMPLETED_WITH_ERRORS' || row.getProperty('analysisStatus')==='TEST_INCONCLUSIVE'" ng-src='images/alert.png')
    %a {{row.getProperty('analysisResultComments')}}
